<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e2c389cf-8417-4894-947e-1d4ac6398898/resourceGroups/rg-todoapi60/providers/Microsoft.Web/sites/TodoApiLatest20220714214053</ResourceId>
    <ResourceGroup>rg-todoapi60</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://todoapilatest20220714214053.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1d65ef3d-2393-405e-a1fa-5aed9f1a6e04</ProjectGuid>
    <PublishUrl>https://todoapilatest20220714214053.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TodoApiLatest20220714214053</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>